<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviors">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ServiceBehaviors" name="WcfRestService.GroupService">
        <endpoint address="" contract="WcfRestService.ServiceInterfaces.IGroupService" binding="webHttpBinding" behaviorConfiguration="web"></endpoint>
      </service>
      <service behaviorConfiguration="ServiceBehaviors" name="WcfRestService.Services.StudentService">
        <endpoint address="" contract="WcfRestService.ServiceInterfaces.IStudentService" binding="webHttpBinding" behaviorConfiguration="web"></endpoint>
      </service>
      <service behaviorConfiguration="ServiceBehaviors" name="WcfRestService.Services.SubjectService">
        <endpoint address="" contract="WcfRestService.ServiceInterfaces.ISubjectService" binding="webHttpBinding" behaviorConfiguration="web"></endpoint>
      </service>
      <service behaviorConfiguration="ServiceBehaviors" name="WcfRestService.Services.SubjectInGroupService">
        <endpoint address="" contract="WcfRestService.ServiceInterfaces.ISubjectInGroupService" binding="webHttpBinding" behaviorConfiguration="web"></endpoint>
      </service>
      <service behaviorConfiguration="ServiceBehaviors" name="WcfRestService.Services.TeacherService">
        <endpoint address="" contract="WcfRestService.ServiceInterfaces.ITeacherService" binding="webHttpBinding" behaviorConfiguration="web"></endpoint>
      </service>
      <service behaviorConfiguration="ServiceBehaviors" name="WcfRestService.Services.TestService">
        <endpoint address="" contract="WcfRestService.ServiceInterfaces.ITestService" binding="webHttpBinding" behaviorConfiguration="web"></endpoint>
      </service>
      <service behaviorConfiguration="ServiceBehaviors" name="WcfRestService.Services.TestResultService">
        <endpoint address="" contract="WcfRestService.ServiceInterfaces.ITestResultService" binding="webHttpBinding" behaviorConfiguration="web"></endpoint>
      </service>
    </services>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
